---

- name: set hostkeys according to openssh-version
  set_fact:
    ssh_host_key_files: ['/etc/ssh/ssh_host_rsa_key', '/etc/ssh/ssh_host_ecdsa_key', '/etc/ssh/ssh_host_ed25519_key']
  when: sshd_version.stdout >= '6.3' and not ssh_host_key_files

- name: set hostkeys according to openssh-version
  set_fact:
    ssh_host_key_files: ['/etc/ssh/ssh_host_rsa_key', '/etc/ssh/ssh_host_ecdsa_key']
  when: sshd_version.stdout >= '6.0' and not ssh_host_key_files

- name: set hostkeys according to openssh-version
  set_fact:
    ssh_host_key_files: ['/etc/ssh/ssh_host_rsa_key']
  when: sshd_version.stdout >= '5.3' and not ssh_host_key_files

###

- name: set weak macs according to openssh-version if openssh >= 7.6
  set_fact:
    ssh_macs: "{{ssh_macs_76_default}}"
  when: sshd_version.stdout >= '7.6' and not ssh_macs

- name: set weak macs according to openssh-version if openssh >= 6.6
  set_fact:
    ssh_macs: "{{ssh_macs_66_weak}}"
  when: sshd_version.stdout >= '6.6' and ssh_server_weak_hmac and not ssh_macs

- name: set macs according to openssh-version if openssh >= 6.6
  set_fact:
    ssh_macs: "{{ssh_macs_66_default}}"
  when: sshd_version.stdout >= '6.6' and not ssh_macs

- name: set weak macs according to openssh-version
  set_fact:
    ssh_macs: "{{ssh_macs_59_weak}}"
  when: sshd_version.stdout >= '5.9' and ssh_server_weak_hmac and not ssh_macs

- name: set macs according to openssh-version
  set_fact:
    ssh_macs: "{{ssh_macs_59_default}}"
  when: sshd_version.stdout >= '5.9' and not ssh_macs

- name: set macs according to openssh-version
  set_fact:
    ssh_macs: "{{ssh_macs_53_default}}"
  when: sshd_version.stdout >= '5.3' and not ssh_macs

- name: set macs according to openssh-version
  set_fact:
    ssh_macs: "{{ssh_macs_53_default}}"
  when: sshd_version.stdout >= '5.3' and not ssh_macs

###

- name: set weak ciphers according to openssh-version if openssh >= 6.6
  set_fact:
    ssh_ciphers: "{{ssh_ciphers_66_weak}}"
  when: sshd_version.stdout >= '6.6' and ssh_server_cbc_required and not ssh_ciphers

- name: set ciphers according to openssh-version if openssh >= 6.6
  set_fact:
    ssh_ciphers: "{{ssh_ciphers_66_default}}"
  when: sshd_version.stdout >= '6.6' and not ssh_ciphers

- name: set weak ciphers according to openssh-version
  set_fact:
    ssh_ciphers: "{{ssh_ciphers_53_weak}}"
  when: sshd_version.stdout >= '5.3' and ssh_server_cbc_required and not ssh_ciphers

- name: set ciphers according to openssh-version
  set_fact:
    ssh_ciphers: "{{ssh_ciphers_53_default}}"
  when: sshd_version.stdout >= '5.3' and not ssh_ciphers

###

- name: set weak kex according to openssh-version if openssh >= 6.6
  set_fact:
    ssh_kex: "{{ssh_kex_66_weak}}"
  when: sshd_version.stdout >= '6.6' and ssh_server_weak_hmac and not ssh_kex

- name: set kex according to openssh-version if openssh >= 6.6
  set_fact:
    ssh_kex: "{{ssh_kex_66_default}}"
  when: sshd_version.stdout >= '6.6' and not ssh_kex

- name: set weak kex according to openssh-version
  set_fact:
    ssh_kex: "{{ssh_kex_59_weak}}"
  when: sshd_version.stdout >= '5.9' and ssh_server_weak_hmac and not ssh_kex

- name: set kex according to openssh-version
  set_fact:
    ssh_kex: "{{ssh_kex_59_default}}"
  when: sshd_version.stdout >= '5.9' and not ssh_kex

