# {{ansible_managed}}

<Location / >
  <LimitExcept {{apache_allowed_http_methods}}>
    # http://httpd.apache.org/docs/2.4/upgrading.html
    {% if apache_version.split('.')[1] == '4' %}
    Require all granted
    {% else %}
    Order Allow,Deny
    Deny from all
    {% endif %}
  </LimitExcept>
</Location>


