---
name: Ansible Lint  # feel free to pick your own name

on: [push, pull_request]   # yamllint disable-line rule:truthy

jobs:
  ansible-lint:
    runs-on: ubuntu-latest

    steps:
      # Important: This sets up your GITHUB_WORKSPACE environment variable
      - uses: actions/checkout@v3

      - name: Lint Ansible Playbook
        # replace "master" with any valid ref
        uses: ansible/ansible-lint-action@main
        with:
          path: "roles/"
